@use '../../scss/colors' as *;

.input-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  height: 45rem;
  width: 45rem;
  border-radius: 50%;
  border: 1.2rem solid $color-accent;
  text-align: center;
  background-color: tint-or-shade($color-accent, 0.9, tint);
}

.bmi-input {
  font-size: 8rem;
  width: 24rem;
  border-radius: 0.8rem;
  border: 1px solid $color-accent;
  text-align: center;
  padding: 0.6rem 0;

  &-label {
    font-size: 2.2rem;
    letter-spacing: 1.2;

    &--red {
      color: $color-red;
      font-weight: 700;
    }
  }

  &:focus,
  &:hover {
    background-color: tint-or-shade($color-primary, 0.99, tint);
    border: 1px solid $color-primary;
    color: tint-or-shade($color-primary, 1, shade);
  }

  &--red {
    border: 1px solid $color-red;
    color: $color-red;
  }
}

.back {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.icon-confirm {
  fill: $color-accent;
}
.icon-reject {
  fill: $color-grey;
}
