@use '../../scss/colors' as *;

.input-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  border: 1.2rem solid $color-accent;
  text-align: center;
  background-color: tint-or-shade($color-accent, 0.9, tint);
}

.bmi-input {
  font-size: 8rem;
  width: 24rem;
  border-radius: 0.8rem;
  border: 1px solid $color-accent;
  text-align: center;
  //margin: 1rem 0;

  &-label {
    font-size: 2.2rem;
    letter-spacing: 1.2;

    &--red {
      color: $color-red;
    }
  }

  &:focus,
  &:hover {
    background-color: tint-or-shade($color-primary, 0.99, tint);
    border: 1px solid $color-primary;
    color: tint-or-shade($color-primary, 1, shade);
  }

  &--red {
    border: 1px solid $color-red;
    color: $color-red;
  }
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  padding: 2rem;
  font-size: 3rem;

  color: $color-white;
  background-color: $color-accent;
  cursor: pointer;
}
